body {
    background-color: var(--primary-color);
}

* {
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

:root {
    --primary-color: #000;
    --secondary-color: #fff;
    --tarnary-color: #C7C7C7;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.section__gap {
    margin: 100px 0;
    overflow: hidden;
}

.section__title {
    color: var(--secondary-color);
    font-size: 48px;
    line-height: 44px;
}

.description {
    font-size: 39px;
    color: var(--tarnary-color);
    line-height: 58.5px
}

/*-------------------
header css start here
--------------------*/
header {
    padding: 25px 0;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__container ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.menu {
    gap: 40px !important;

}

.header__container a {
    color: var(--tarnary-color);
    font-size: 20px;
    line-height: 21px;
    text-transform: capitalize;
}

.header__container .social a {
    color: var(--secondary-color);
    padding: 0 15px;
}

.header__image__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

/*-------------------
header css end here
--------------------*/

/*-----------------------------
featured section css start here
--------------------------------*/
#featured {
    background: url("../img/featured-img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 850px;
    display: flex;
    align-items: end;

}

#featured .content {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*-----------------------------
featured section css end here
--------------------------------*/

/*-----------------------------
Portfolio section css start here
--------------------------------*/

#portfolio {
    text-align: center;

}

.card__container {
    width: 100%;
    margin: 50px 0;
    display: flex;
}

.card {
    width: 25%;
    position: relative;
}

.card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.card__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 95%;
   
}

.card__title {
    font-size: 45px;
    line-height: 62.2px;
   color:var(--secondary-color)
}
.card:after{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #000;
    
    z-index: 9999;
}

/*-----------------------------
Portfolio section css end here
--------------------------------*/